<p>
  bata-binding works!
</p>
<div class="container">
  <p>Types of Data Binding in Angular </p>
  <ul>
    <li>String Interpolation.</li>
    <li>Property Binding.</li>
    <li>Event Binding.</li>
    <li>Two-Way Data Binding.</li>
  </ul>

  <div class="row">
    <div class="col-lg-3">
      <app-string-interpolation></app-string-interpolation>
    </div>
    <div class="col-lg-3">
      <app-property-binding></app-property-binding>
    </div>
    <div class="col-lg-3">
      <app-event-binding></app-event-binding>
    </div>
    <div class="col-lg-3">
      <app-two-way-binding></app-two-way-binding>
    </div>
  </div>
</div>